<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Political Juggernauts</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='favicon.png')}}" rel="icon">
  <link href="{{ url_for('static',filename='apple-touch-icon.png')}}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='remixicon.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Jun 19 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{ url_for('static',filename='logo.png')}}" alt="">
        <span>Political Juggernauts</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Dashboard</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Story</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Political Juggernauts: A Quantitative Analysis Of Candidates In 2019 Lok Sabha Elections</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of data analysts creating dashboards for easy visualization of data regarding Lok Sabha elections 2019 </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static',filename='hero-img.png')}}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class=" d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Lok Sabha Elections 2019</h3>
              
              <p>
                The Lok Sabha Election 2019 was a significant event in Indian politics. It took place in seven phases from April 11, 2019, to May 19, 2019. The election determined the composition of the 17th Lok Sabha, the lower house of the Indian Parliament. The Bharatiya Janata Party (BJP) emerged as the single largest party with a majority, and its leader, Narendra Modi, was re-elected as the Prime Minister of India. The election witnessed intense political campaigning, with various parties and alliances vying for seats across the country. It saw a high voter turnout, and the results had a profound impact on the country's political landscape.
              </p>
              <p>
                All 543 elected MPs are elected from single-member constituencies using first-past-the-post voting. The President of India appoints an additional two members from the Anglo-Indian community if he believes that community is under-represented. Eligible voters must be Indian citizens, 18 or older than 18, an ordinary resident of the polling area of the constituency and registered to vote (name included in the electoral rolls), possess a valid voter identification card issued by the Election Commission of India or an equivalent. Some people convicted of electoral or other offences are barred from voting.
                The elections are held on schedule and as per the Constitution of India that mandates parliamentary elections once every five years.
              </p>

            
            </div>
          </div>

          <!-- <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div> -->

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">    

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>Understanding the analysis</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Social Imapct</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Electoral Landscape</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab3">Strategies</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p>The utilization of data analytics with Tableau in the Lok Sabha Election 2019 had a significant social impact. By understanding voter demographics and tailoring campaigns accordingly, political parties were able to connect with specific segments of the population, addressing their concerns and aspirations more effectively. This personalized approach enhanced voter engagement and participation, ultimately strengthening the democratic process.</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p>The ability to predict election outcomes through data analytics provided transparency and insight into the electoral landscape. It allowed voters to have a better understanding of potential winners and the factors influencing their choices. This increased awareness empowered voters to make informed decisions, fostering a more informed electorate.
                </p>                
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <p>The assessment of constituency-wise performance and identification of key battleground areas enabled parties to allocate resources strategically. This resulted in targeted campaigns that directly addressed the needs of specific communities and regions. As a result, political parties became more accountable to the diverse needs of the population, promoting inclusivity and representation.</p>
                
              </div><!-- End Tab 3 Content -->

            </div>

          </div>

          <div class="col-lg-6">
            <img src="{{ url_for('static',filename='features-2.png')}}" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

    

      </div>

    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container dashboard" data-aos="fade-up">

        <header class="section-header dashTitle">
          <h2>Dashboard</h2>
          <p>Visualizations based on Data</p>
        </header>  
        <center>
          <img src="/static/dashboard1.png"  width="920" height="520">
        </center> 
        <!-- <div class='tableauPlaceholder dashboardCon' id='viz1688050423128' style='position: relative'> -->
          <!-- <noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dasboard1_16880445454900&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
          <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
             <param name='embed_code_version' value='3' /> 
             <param name='site_root' value='' />
             <param name='name' value='Dasboard1_16880445454900&#47;Dashboard1' />
             <param name='tabs' value='no' /><param name='toolbar' value='yes' />
             <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dasboard1_16880445454900&#47;Dashboard1&#47;1.png' /> 
             <param name='animate_transition' value='yes' />
             <param name='display_static_image' value='yes' />
             <param name='display_spinner' value='yes' />
             <param name='display_overlay' value='yes' />
             <param name='display_count' value='yes' />
             <param name='language' value='en-US' />
            
          </object> -->
          
        </div>  
              <!-- <script type='text/javascript'>                    var divElement = document.getElementById('viz1688050423128');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1624px';vizElement.style.height='795px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1624px';vizElement.style.height='795px';} else { vizElement.style.width='100%';vizElement.style.height='1477px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script> -->

      </div>

    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

      <div class="container storyboard" data-aos="fade-up">

        <header class="section-header storyTitle">
          <h2>Story Board</h2>
          <p>Loksabha 2019 Elections</p>
        </header>
        <div>
          <table>
            <tr>
             
              <td><img src="/static/story1.2.jpeg" alt="" width="500"></td>
              <td><img src="/static/story1.1.jpeg" alt="" width="500"></td>
              <td><img src="/static/1.3.jpeg" alt="" width="500"></td>
            </tr>
          </table>
          
        </div>

        <!-- <div class='tableauPlaceholder storyCon' id='viz1688050372528' style='position: relative'>
          <noscript><a href='#'><img alt='Political Juggernauts: A Quantitative Analysis of Candidates in the 2019 Lok Sabha Elections ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;S9&#47;S97KTPW39&#47;1_rss.png' style='border: none' /></a></noscript>
          <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='path' value='shared&#47;S97KTPW39' /> 
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;S9&#47;S97KTPW39&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
          </object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1688050372528');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1716px';vizElement.style.height='991px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
        
      </div> -->

    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our hard working team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static',filename='junedpic.jpg')}}" class="img-fluid profileImage" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Md Juned Alam</h4>
                <!--<span>Chief Executive Officer</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>-->
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static',filename='amypic.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Alisha Khanam</h4>
                <!--<span>Product Manager</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>-->
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static',filename='arshi.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Arshi Khanam</h4>
                <!--<span>CTO</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>-->
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static',filename='parveja.jpg')}}" class="img-fluid profileImage" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/alisha-khanam" class="social-icon"><i class='bx bxl-linkedin'></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Parvej Ansari</h4>
                <!--<span>Accountant</span>
                <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>-->
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row">

          <div class="">

            <div class="row">
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>JCT College of Engineering and Technology<br>Coimbatore, TamilNadu</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 8405052470<br></p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>mdjunedalam220@gmail.com<br> </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>



        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='purecounter_vanilla.js')}}"></script>
  <script src="{{ url_for('static',filename='aos.js')}}"></script>
  <script src="{{ url_for('static',filename='bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='glightbox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static',filename='swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='validate.js')}}" ></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='main.js')}}"></script>

</body>

</html>